<footer class="flex flex-col py-14 md:flex-row w-full max-w-screen-xl mx-auto justify-between items-center px-4">
  <img class="w-28" src="/img/logo-mincap.svg" alt="logo Ministerio de las Culturas, las Artes y el Patrimonio">

  <div class="flex text-lg space-x-8 order-first md:order-none mb-12 md:mb-0">
    <p>Compártelo en</p>

    <ul class="flex space-x-4 ">
      <li><a href="#"><img class="w-7" src="/img/ico-fb.svg" alt="Facebook"></a></li>
      <li><a href="#"><img class="w-7" src="/img/ico-tw.svg" alt="Twitter"></a></li>
      <li><a href="#"><img class="w-7" src="/img/ico-wa.svg" alt="WhatsApp"></a></li>
      <li><a href="#"><img class="w-7" src="/img/ico-fb.svg" alt="Email"></a></li>
    </ul>
  </div>
</footer>