{% for item in collections.sections %}
  {% if item.data.type === 'live' %}
  <section class="container min-h-screen py-12 mx-auto">

    <header class="max-w-xl ">
      <h1 class="mb-10 text-6xl font-bold">Seminario Derecho de Autor</h1>

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eius fuga illo temporibus eveniet atque rem iusto quasi sequi. Nobis voluptates placeat provident, totam incidunt sint dignissimos pariatur aspernatur distinctio?</p>
    </header>
    <div id="about" class="grid w-full grid-cols-3 gap-12 py-12 rose-100">
      <div class='col-span-2 embed-container'><iframe class="w-full aspect-video " src='https://www.youtube.com/embed/ersN5fk8py0' frameborder='0' allowfullscreen></iframe></div>

      <div class="relative flex chat">
      <iframe class="w-full" src="https://organizations.minnit.chat/1782616474923665117/Main?embed&nickname=" style="height:500px;" allowTransparency="true"></iframe>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-20">
    <div id="tlkio" data-channel="sdautor" data-theme="theme--minimal" style="width:100%;height:500px;"></div><script async src="https://tlk.io/embed.js" type="text/javascript"></script>

    <div>
    <script id="cid0020000300663045386" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 320px;height: 500px;">{"handle":"sdautor","arch":"js","styles":{"b":100,"c":"000000","d":"000000","l":"FFFFFF","m":"FFFFFF","p":"12.24","r":100,"t":0,"ab":false,"usricon":0,"surl":0,"allowpm":0}}</script></div>
    </div>
    </section>
  {% endif %}
{% endfor %}